.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  text-align: center;
  background: green;
  margin: 0 auto;
}
.header-input {
  display: flex;
  justify-content: center;
}

.boxes {
  width: 90vw;
}

.box {
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: 10px;
}
.box-div {
  width: auto;
}
